/raycast 
/helix /lvim/plugin
/.zsh_history
/.zsh_sessions
github-copilot
github-copilot/hosts.json
karabiner
gcloud
gh
spotify-tui
configstore
.zcompdump
ghc
gitui/theme.ron.old
lvim/plugin
neofetch
neovide
nvim/lazy-lock.json
nvim/spell
