.DS_Store
.zcompdump
.zsh_history
.zsh_history.new
.zsh_history.new
.zsh_sessions
configstore
gcloud
gh
ghc
github-copilot
gitui/theme.ron.old
karabiner
nvim/lazy-lock.json
nvim/spell
raycast 
spotify-tui
